######################################################################
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
mvnw
mvnw.*
.gitignore
.mvn
*.class
target/*

######################################################################
### foundry ###

/**/lib




